@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:wght@400;700;900&display=swap");
:root {
  --main-font: "Roboto", sans-serif;
  --header: "Knewave", cursive;
  --green: #92c83e;
  --gray: #868686;
  --light-gray: #f1eaea;
  --dark-gray: #2e2e2e;
  --transition: all 0.4s;
}
